@media (min-width: 992px) {
  .rounded-lg-3 {
    border-radius: 0.3rem;
  }
}

body {
  font-family: "Red Hat Mono", monospace;
  background-color: #000000;
  color: white;
  margin-bottom: 50px;
}

#nosrac {
  color: #fab416;
}

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: #fab416;
}

/* selected link */
a:active {
  color: #fab416;
}

ul.nav a:hover {
  color: #ffffff !important;
}

footer {
  position: flex;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-align: center;
}
